:root {
  color-scheme: dark;
}

#projects .bunny image {
  filter: url("#bunny-glow");
}
#projects h2::before {
  border-color: #172b25;
  background: linear-gradient(to bottom, rgba(41, 31, 33, 0) 1px, rgb(41, 31, 33) 2px, rgba(41, 31, 33, 0) 3px) 0 1rem/100% 2.5rem, linear-gradient(to bottom, rgba(0, 39, 39, 0) 1px, rgb(0, 39, 39) 2px, rgba(0, 39, 39, 0) 0) 0 1.25rem/100% 2.5rem, linear-gradient(to right, rgba(41, 31, 33, 0) 1px, rgb(41, 31, 33) 2px, rgba(41, 31, 33, 0) 3px) 1.5rem 0/2.5rem 100%, linear-gradient(to right, rgba(0, 39, 39, 0) 1px, rgb(0, 39, 39) 2px, rgba(0, 39, 39, 0) 0) 1.25rem 0/2.5rem 100%;
  background-color: #302f2f;
}
#projects h2 .shadow {
  filter: url("#blur");
  text-shadow: 0 0 0.25em #0ff, 0 0 0.5em #0ff, 0 0 1em #0ff, 0 0 1.5em #0ff, 0 0 2em #0ff, 0 0 2.5em #0ff;
  text-shadow: 0 0 0.25em 1px #0ff, 0 0 0.5em 1px #0ff, 0 0 1em 1px #0ff, 0 0 1.5em 1px #0ff, 0 0 2em 1px #0ff, 0 0 2.5em 1px #0ff;
}
#projects .card {
  box-shadow: 0 0 0.5rem rgba(0, 255, 255, 0.5), 0 0 1.5rem rgba(255, 255, 255, 0.15);
  border-color: skyblue;
  background: #111;
}
#projects .card img {
  box-sizing: border-box;
  border: 2px solid #404040;
  background: #404040;
}
#projects .card:focus, #projects .card:hover {
  box-shadow: 0 0 0.5rem rgba(0, 255, 255, 0.5), 0 0 3rem rgba(0, 255, 255, 0.2);
  border-color: cyan;
  background: #163c3c;
}
#projects .card:focus img, #projects .card:hover img {
  border-color: cyan;
  background: cyan;
}
#projects .card:focus:not(:focus-visible, :hover) {
  box-shadow: 0 0 0.5rem rgba(0, 255, 255, 0.5), 0 0 1.5rem rgba(255, 255, 255, 0.15);
  border-color: skyblue;
  background: #111;
}
#projects .card:focus:not(:focus-visible, :hover) img {
  border-color: #404040;
  background: #404040;
}
@media (hover: none) {
  #projects .card:hover:not(:focus-visible) {
    box-shadow: 0 0 0.5rem rgba(0, 255, 255, 0.5), 0 0 1.5rem rgba(255, 255, 255, 0.15);
    border-color: skyblue;
    background: #111;
  }
  #projects .card:hover:not(:focus-visible) img {
    border-color: #404040;
    background: #404040;
  }
}
#projects .picoletta {
  filter: drop-shadow(0 0 1rem rgba(255, 255, 0, 0.2));
}
#projects .picoletta p {
  color: #eaeaea;
}
#projects .clock .face,
#projects .clock .edge {
  background: #412c1a;
}
#projects .clock .hour {
  background: #d17c28;
}
#projects .clock .minute {
  background: #ffdcb7;
}
#projects .clock .second {
  background: #e0e7b1;
}
#projects .button-container button {
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.33);
  background: #111;
}
#projects .button-container button span {
  border: none;
}
#projects .button-container button:focus, #projects .button-container button:hover {
  background: #163c3c;
}
#projects .button-container button:focus:not(:focus-visible, :hover) {
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.33);
  background: #111;
}
@media (hover: none) {
  #projects .button-container button:hover:not(:focus-visible) {
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.33);
    background: #111;
  }
}

#me h2 {
  transform: none;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.33);
  background-image: linear-gradient(rgba(0, 255, 255, 0.15), rgba(0, 255, 255, 0));
  background-size: 100% 2px;
  background-color: rgba(0, 0, 0, 0.75);
}
#me h2 .shadow {
  filter: url("#blur");
  text-shadow: 0 0 0.25em #0ff, 0 0 0.5em #0ff, 0 0 1em #0ff, 0 0 1.5em #0ff, 0 0 2em #0ff, 0 0 2.5em #0ff;
}
#me h3 {
  color: #ddd;
}
#me .controls button {
  box-shadow: none;
  border-color: #2a2a2a;
  background: #1a1a1a;
}
#me .controls button:focus, #me .controls button:hover {
  box-shadow: 0 0 1rem rgba(255, 255, 0, 0.33);
  border-color: #ffde69;
  background: #414118;
}
#me .controls button:focus:not(:focus-visible, :hover) {
  box-shadow: none;
  border-color: #2a2a2a;
  background: #1a1a1a;
}
@media (hover: none) {
  #me .controls button:hover:not(:focus-visible) {
    box-shadow: none;
    border-color: #2a2a2a;
    background: #1a1a1a;
  }
}

.faq .question {
  border-color: #2a2a2a;
  background: #1a1a1a;
  -webkit-font-smoothing: antialiased;
}
.faq .question:focus, .faq .question:hover {
  border-color: #ffde69;
  background: #313117;
}
.faq .question:focus[aria-expanded=false], .faq .question:hover[aria-expanded=false] {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(255, 255, 0, 0.25);
}
.faq .question:focus + .answer, .faq .question:hover + .answer {
  border-color: #ffde69;
}
.faq .question:focus + .answer::before, .faq .question:hover + .answer::before {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(255, 255, 0, 0.25);
}
.faq .question:focus .bottom, .faq .question:hover .bottom {
  background: #ffde69;
}
.faq .question:focus:not(:focus-visible, :hover) {
  border-color: #2a2a2a;
}
.faq .question:focus:not(:focus-visible, :hover)[aria-expanded=false] {
  box-shadow: none;
  background: #1a1a1a;
}
.faq .question:focus:not(:focus-visible, :hover) + .answer {
  border-color: #2a2a2a;
}
.faq .question:focus:not(:focus-visible, :hover) + .answer::before {
  box-shadow: none;
}
.faq .question:focus:not(:focus-visible, :hover) .bottom {
  box-shadow: none;
  background: #2a2a2a;
}
@media (hover: none) {
  .faq .question:hover:not(:focus-visible) {
    border-color: #2a2a2a;
  }
  .faq .question:hover:not(:focus-visible)[aria-expanded=false] {
    box-shadow: none;
    background: #1a1a1a;
  }
  .faq .question:hover:not(:focus-visible) + .answer {
    border-color: #2a2a2a;
  }
  .faq .question:hover:not(:focus-visible) + .answer::before {
    box-shadow: none;
  }
  .faq .question:hover:not(:focus-visible) .bottom {
    box-shadow: none;
    background: #2a2a2a;
  }
}
.faq .question[aria-expanded=false]::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='53'%3E%3Cpath fill='%23fff' d='m0 0 46 26.5L0 53Z'/%3E%3C/svg%3E");
}
.faq .question[aria-expanded=true] {
  background: #2a2a2a;
}
.faq .question[aria-expanded=true]::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='46'%3E%3Cpath fill='%23fff' d='M53 0 26.5 46 0 0Z'/%3E%3C/svg%3E");
}
.faq .answer {
  box-shadow: none;
  border-color: #2a2a2a;
  background: #1a1a1a;
}
.faq .answer p,
.faq .answer ol,
.faq .answer ul {
  color: #eee;
}
.faq .bottom {
  box-shadow: none;
  background: #2a2a2a;
}

#credits {
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(127, 255, 212, 0.1);
  background: #111;
  color: white;
}

.p-fill-bg {
  background: #0f1f18;
  background: radial-gradient(closest-side, #132c22, #0f1f18);
  fill: #0f1f18;
}

.p-fill-fg {
  fill: #972;
}

.p-stroke-fg {
  stroke: gold;
}