section {
  display: block;
}

#projects {
  width: 55rem;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#projects .bunny {
  position: absolute;
  z-index: 2;
  top: -2.25rem;
  left: -5rem;
  width: 7rem;
  height: 7rem;
}

#projects h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding: 1rem 2rem;
  transform: rotateZ(-2deg);
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#projects h2::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  content: "";
  border: 0.5rem double aquamarine;
  border-radius: 0.5rem;
  background: snow;
  background: linear-gradient(
        to bottom,
        rgba(255, 192, 203, 0) 1px,
        rgba(255, 192, 203, 1) 2px,
        rgba(255, 192, 203, 0) 3px
      )
      0 1rem/100% 2.5rem,
    linear-gradient(
        to bottom,
        rgba(0, 255, 255, 0) 1px,
        rgba(0, 255, 255, 1) 2px,
        rgba(0, 255, 255, 0) 0
      )
      0 1.25rem/100% 2.5rem,
    linear-gradient(
        to right,
        rgba(255, 192, 203, 0) 1px,
        rgba(255, 192, 203, 1) 2px,
        rgba(255, 192, 203, 0) 3px
      )
      1.5rem 0/2.5rem 100%,
    linear-gradient(
        to right,
        rgba(0, 255, 255, 0) 1px,
        rgba(0, 255, 255, 1) 2px,
        rgba(0, 255, 255, 0) 0
      )
      1.25rem 0/2.5rem 100%,
    snow;
}

@media (max-width: 27.5rem) {
  #projects .bunny {
    top: -1rem;
  }

  #projects h2 {
    width: 10.5rem;
  }
}

#projects ul {
  font-size: 0;
  padding: 1rem 0.25rem;
  list-style: none;
  transform: translateZ(1px);
}

#projects ul:focus {
  outline: 0.15rem solid orangered;
}

#projects ul:focus:not(:focus-visible) {
  outline: none;
}

@media (max-width: 55rem) {
  #projects ul {
    overflow: auto;
    white-space: nowrap;

    -ms-scrollbar-arrow-color: #fd87b5;
    -ms-scrollbar-base-color: snow;
    scrollbar-color: #fd87b5 rgba(0, 0, 0, 0);
    -ms-scrollbar-face-color: #fd87b5;
    -ms-scrollbar-shadow-color: #fd87b5;
  }

  #projects ul::-webkit-scrollbar {
    width: inherit;
    height: inherit;
  }

  #projects ul::-webkit-scrollbar-thumb {
    background: #fd87b5;
  }

  #projects ul::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
}

#projects li {
  display: inline-block;
}

#projects li a {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 16rem;
  margin: 1rem;
  padding: 0.5rem;
  transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);
  white-space: normal;
  color: snow;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  background: snow;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1), 0 0 0.25rem rgba(0, 0, 0, 0.1),
    -0.125rem -0.125rem 0.125rem rgba(0, 0, 0, 0.1) inset;
}

#projects li a::after {
  border-radius: 0.75rem;
}

@media (max-width: 55rem) {
  #projects li a {
    transform: perspective(1000px) rotateY(12.5deg);
  }
}

#projects li a figure {
  margin: 0;
}

#projects li img {
  display: block;
  width: calc(15rem - 4px);
  height: calc(15rem - 4px);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

#projects li figcaption {
  font-size: 1.75rem;
  display: table;
  box-sizing: border-box;
  width: 100%;
  height: 7.5rem;
  margin-top: 0.75rem;
  padding: 1rem;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

#projects li figcaption div {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

#projects li a:active {
  top: 3px;
}

#projects li a:focus,
#projects li a:hover {
  transform: scale3d(1.02, 1.02, 1.02);
  border-color: cyan;
  background: lightcyan;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 255, 255, 0.2),
    -0.125rem -0.125rem 0.25rem rgba(0, 125, 125, 0.15) inset;
}

#projects li a:focus img,
#projects li a:focus figcaption,
#projects li a:hover img,
#projects li a:hover figcaption {
  box-shadow: 0 0 0.25rem rgba(0, 255, 255, 0.2);
}

#projects li a:focus figcaption,
#projects li a:hover figcaption {
  border-color: cyan;
}

#projects li a:focus:not(:focus-visible):not(:hover) {
  border-color: rgba(0, 0, 0, 0);
  background: snow url("./images/paper.svg");
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1),
    -0.125rem -0.125rem 0.125rem rgba(0, 0, 0, 0.1) inset;
}

#projects li a:focus:not(:focus-visible):not(:hover) img,
#projects li a:focus:not(:focus-visible):not(:hover) figcaption {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

#projects li a:focus:not(:focus-visible):not(:hover) figcaption {
  border-color: rgba(0, 0, 0, 0);
}

@media (hover: none) {
  #projects li a:hover:not(:focus-visible) {
    border-color: rgba(0, 0, 0, 0);
    background: snow url("./images/paper.svg");
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1),
      -0.125rem -0.125rem 0.125rem rgba(0, 0, 0, 0.1) inset;
  }

  #projects li a:hover:not(:focus-visible) img,
  #projects li a:hover:not(:focus-visible) figcaption {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  }

  #projects li a:hover:not(:focus-visible) figcaption {
    border-color: rgba(0, 0, 0, 0);
  }
}

#projects .button-container {
  display: none;
  justify-content: space-between;
  margin: 1rem 0 0 0;
  padding: 0 1rem;
}

@media (max-width: 55rem) {
  #projects .button-container {
    display: flex;
  }
}

#projects .button-container button {
  font-family: "Chihaya Jun";
  font-size: 1.75rem;
  padding: 0.5rem;
  cursor: pointer;
  letter-spacing: -0.1em;
  color: #333;
  border: 2px solid aquamarine;
  background: snow;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#projects .button-container .left-arrow {
  padding-left: 1rem;
  transform: rotateZ(5deg);
  text-align: right;
  border-top-left-radius: 2rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 2rem;
}

#projects .button-container .left-arrow::after {
  border-top-left-radius: 3rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 3rem;
}

#projects .button-container .left-arrow:active {
  transform: rotateZ(5deg) translate3d(0, 3px, 0);
}

#projects .button-container .right-arrow {
  padding-right: 1rem;
  transform: rotateZ(-5deg);
  text-align: left;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 0.25rem;
}

#projects .button-container .right-arrow::after {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 0.375rem;
}

#projects .button-container .right-arrow:active {
  transform: rotateZ(-5deg) translate3d(0, 3px, 0);
}

#projects .button-container button span {
  position: relative;
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;
}

#projects .button-container button:focus,
#projects .button-container button:hover {
  border-color: cyan;
  background: lightcyan;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 255, 255, 0.2);
}

#projects .button-container button:focus span,
#projects .button-container button:hover span {
  border-color: cyan;
}

#projects .button-container button:focus:not(:focus-visible):not(:hover) {
  border-color: aquamarine;
  background: snow;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#projects .button-container button:focus:not(:focus-visible):not(:hover) span {
  border-color: pink;
}

@media (hover: none) {
  #projects .button-container button:hover:not(:focus-visible) {
    border-color: aquamarine;
    background: snow;
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  #projects .button-container button:hover:not(:focus-visible) span {
    border-color: pink;
  }
}

#me {
  padding: 0 1rem;
}

#usp .paper-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

#me .paper {
  position: relative;
  box-sizing: border-box;
  width: 40rem;
  max-width: 100%;
  margin: auto;
  padding: 5rem 2rem 4rem 2rem;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.1));
}

#me .paper::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 4px;
  background: snow url("./images/paper.svg");
}

#me .header {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: -6rem auto -6.5rem auto;
  text-align: center;
}

#me .flower-1 {
  width: 12.5rem;
  height: 12.334rem;
  cursor: pointer;
  transition: 0.5s transform;
  vertical-align: middle;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (prefers-reduced-motion) {
  #me .flower-1 {
    cursor: initial !important;
    transition: none !important;
  }
}

#me h2 {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 17rem;
  max-width: 100%;
  margin: 0;
  padding: 1rem;
  vertical-align: middle;
  border: 6px double #00ffa9;
  border-radius: 2rem;
  background: linear-gradient(rgba(255, 230, 0, 0.25), rgba(255, 230, 0, 0)) 0 0/100% 2px;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#me h2 abbr {
  text-decoration-thickness: 2px;
}

@media (max-width: 38.75rem) {
  #me .header {
    width: 18rem;
    margin-bottom: -11.5rem;
  }

  #me h2 {
    transform: rotateZ(-2deg);
  }

  #me .paper {
    padding-top: 11.5rem;
    background-position: 50% 1.67rem;
  }
}

#me .controls {
  margin: 3rem 0 -1.5rem 0;
  text-align: right;
}

#me .controls button {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  line-height: 1;
  position: relative;
  margin-left: 0.5rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  letter-spacing: 0;
  border: 2px solid #ffe6b7;
  border-bottom-width: 3px;
  border-radius: 1rem;
  background: #fff5e2;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#me .controls button::after {
  border-radius: 1.5rem;
}

#me .controls button:active {
  top: 3px;
}

#me .controls button:focus,
#me .controls button:hover {
  border-color: #cdbca5;
  background: #ffe6b7;
}

#me .controls button:focus:not(:focus-visible):not(:hover) {
  border-color: #ffe6b7;
  background: #fff5e2;
}

@media (hover: none) {
  #me .controls button:hover:not(:focus-visible) {
    border-color: #ffe6b7;
    background: #fff5e2;
  }
}

#me .faq {
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

#me .faq .question {
  line-height: 1.15;
  margin: 0;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  cursor: pointer;
  border: 2px solid #ffe6b7;
  border-bottom-width: 4px;
  border-radius: 1rem;
  background: #fff5e2;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#me .faq .question[aria-expanded="true"] {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #ffe6b7;
}

#me .faq .question:active {
  padding-top: calc(1rem - 1.5px);
  border-bottom-width: 2px;
}

#me .faq .question:focus,
#me .faq .question:hover {
  border-color: #cdbca5;
  outline: none;
  background: #ffe6b7;
}

#me .faq .question:focus:not(:focus-visible):not(:hover) {
  border-color: #ffe6b7;
}

#me .faq .question[aria-expanded="false"]:focus:not(:focus-visible):not(:hover) {
  background: #fff5e2;
}

@media (hover: none) {
  #me .faq .question:hover:not(:focus-visible) {
    border-color: #ffe6b7;
  }

  #me .faq .question[aria-expanded="false"]:hover:not(:focus-visible) {
    background: #fff5e2;
  }
}

#me .faq .question:focus::after {
  border-color: orangered;
}

#me .faq .question:focus:not(:focus-visible)::after {
  border-color: rgba(0, 0, 0, 0);
}

#me .faq .question::before {
  position: absolute;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='460.5' height='531.74' viewBox='0 0 460.5 531.74'%3E%3Cpath d='m.5.87 459 265-459 265z'/%3E%3C/svg%3E")
    50% 75%/0.67rem 0.67rem no-repeat;
}

#me .faq .question[aria-expanded="true"]::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='531.74' height='460.5' viewBox='0 0 531.74 460.5'%3E%3Cpath d='m530.87.5-265 459L.87.5z'/%3E%3C/svg%3E");
}

#me .faq .question::after {
  position: absolute;
  z-index: -1;
  top: -0.5rem;
  left: -0.5rem;
  box-sizing: border-box;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  content: "";
  border: 0.15rem solid rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
}

#me .faq .answer {
  display: none;
  overflow: hidden;
  padding: 0 1rem 0 2.5rem;
  border: 2px solid #ffe6b7;
  border-top: none;
  border-bottom-width: 4px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: #fff5e2;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

#me .faq .question[aria-expanded="true"] ~ .answer {
  display: block;
}

#me .faq .question:active ~ .answer {
  border-bottom-width: 2px;
}

#me .faq .question:focus ~ .answer,
#me .faq .question:hover ~ .answer {
  border-color: #cdbca5;
}

#me .faq .question:focus:not(:focus-visible):not(:hover) ~ .answer {
  border-color: #ffe6b7;
}

@media (hover: none) {
  #me .faq .question:hover:not(:focus-visible) ~ .answer {
    border-color: #ffe6b7;
  }
}

#me .faq .answer p:last-child,
#me .faq .answer ol:last-child,
#me .faq .answer ul:last-child {
  margin-bottom: 1.5rem;
}

#me h3,
#me h4,
#me p,
#me ol,
#me ul {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  letter-spacing: 0;
}

#me h3 {
  font-size: 0.875rem;
  line-height: 1.15;
  margin: 3rem 0 1.5rem 0;
  text-transform: uppercase;
  color: #555;
}

#me p,
#me ol,
#me ul {
  color: #444;
}

#me ol,
#me ul {
  margin-top: -0.5rem;
  padding-bottom: 0;
}

#credits {
  line-height: 1.5;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 25rem;
  max-width: calc(100% - 2rem);
  margin: 0 auto 6rem auto;
  padding: 1rem 2rem;
  text-align: center;
  letter-spacing: 0;
  color: #333;
  border: 1px solid aquamarine;
  border-bottom: 4px solid aquamarine;
  border-radius: 1rem;
  background: snow;
  background: linear-gradient(rgba(255, 250, 250, 0), rgba(255, 250, 250, 1)),
    radial-gradient(rgba(127, 255, 212, 1) 25%, rgba(127, 255, 212, 0) 0) 0 0/5px 5px, snow;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#credits p {
  margin: 0 auto 1rem auto;
}

#credits a:focus::after {
  top: 0;
  left: -0.25rem;
  width: calc(100% + 0.5rem);
  height: calc(100% + 2px);
}
