@use "./util.scss" as *;

a,
button {
  position: relative;
  overflow: visible;

  -webkit-tap-highlight-color: black(0);

  &::after {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    box-sizing: border-box;
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    content: "";
    border: 0.125rem solid black(0);
  }

  &:focus {
    outline: none;

    &::after {
      border-color: orangered;
    }
  }

  &:focus:not(:focus-visible)::after {
    border-color: black(0);
  }
}

a {
  margin: 0 3px;
  padding: 0 1px;
  white-space: nowrap;
  text-decoration: none;
  color: blue;
  border-bottom: 2px solid black(0);

  &:hover {
    border-bottom-color: currentColor;
  }

  @media (hover: none) {
    &:hover {
      border-bottom-color: black(0);
    }
  }

  &.alt {
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 0.25rem;
    border-bottom: 0.375rem double;

    &::after {
      top: -0.175rem;
    }

    &:hover {
      border-bottom-style: solid;
    }

    @media (hover: none) {
      &:hover {
        border-bottom-style: double;
      }
    }
  }
}

button {
  font-family: inherit;
  font-size-adjust: inherit;
  line-height: inherit;
  cursor: pointer;
  color: inherit;
}
