@use "sass:meta";

#links {
  font-size: 1.2rem;
  min-height: 8rem;
  margin: 0;
  padding: 1rem;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 0.5rem 1rem 0.5rem;

    @media (max-width: 25rem) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  a {
    line-height: 1ex;
    display: block;
    box-sizing: border-box;
    padding: 0.67rem;
    white-space: nowrap;
    color: #333;
    border: 2px solid #eee;
    border-radius: 1em;
    background: white;
    box-shadow: 0.5rem 0.5rem 1rem 0 black(0.1);

    &::after {
      border-radius: 1.5em;
    }

    &:active {
      top: 3px;
    }

    @mixin apply-focus-hover {
      border-color: cyan;
      background: lightcyan;
      box-shadow: 0.25rem 0.25rem 0.5rem cyan(0.2);
    }

    @mixin revert-focus-hover {
      border-color: white;
      background: white;
      box-shadow: 0.5rem 0.5rem 1rem 0 black(0.1);
    }

    @include focus-hover-states(
      meta.get-mixin("apply-focus-hover"),
      meta.get-mixin("revert-focus-hover")
    );
  }

  svg {
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    margin: 0 0.33rem 0 0;
    vertical-align: middle;

    fill: #333;
  }

  span {
    vertical-align: middle;
  }
}
