@use "sass:meta";

@use "./util.scss" as *;

#links {
  margin: 0;
  padding: 1rem;
  min-height: 8rem;
  font-size: 1.2rem;
  list-style: none;

  @include noto-sans-jp-critical-font;

  li {
    display: inline-block;
    margin: 0 0.5rem 1rem;
    text-align: left;

    &:nth-child(1) a {
      width: 14.1rem;
    }

    &:nth-child(2) a {
      width: 16rem;
    }

    &:nth-child(3) a {
      width: 7.5rem;
    }

    @media (max-width: 25rem) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  a {
    display: block;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 1rem 0 black(0.1);
    border: 2px solid #eee;
    border-radius: 1em;
    background: white;
    padding: 0.4rem 0.67rem 0.67rem;
    color: #333;
    white-space: nowrap;

    &::after {
      border-radius: 1.5em;
    }

    &:active {
      top: 3px;
    }

    @mixin apply-focus-hover {
      box-shadow: 0.25rem 0.25rem 0.5rem cyan(0.2);
      border-color: cyan;
      background: lightcyan;
    }

    @mixin revert-focus-hover {
      box-shadow: 0.5rem 0.5rem 1rem 0 black(0.1);
      border-color: #eee;
      background: white;
    }

    @include focus-hover-states(
      meta.get-mixin("apply-focus-hover"),
      meta.get-mixin("revert-focus-hover")
    );
  }

  svg {
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0 0.33rem 0 0;
    width: 1.25rem;
    height: 1.25rem;
    fill: #333;
  }

  span {
    vertical-align: middle;
  }
}
