@use "sass:meta";

@use "./util.scss" as *;

:root {
  color-scheme: dark;
}

html {
  color: white;
  background: #2a2a2a;
}

a {
  color: deepskyblue;
}

.text {
  text-shadow: 0 0 0.075em white;
}

#background {
  background-color: #2a2a2a;
  background-image: url("data:image/svg+xml,%3Csvg width='237.5' height='237.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.62-.8.07 5.75v2.83L9.45-.8H6.62zm16.97 0L.07 22.72v2.83L26.42-.8h-2.83zm50.9 0L.08 73.63v2.83L77.33-.8H74.5zm16.98 0L.07 90.6v2.83L94.3-.8h-2.83zm16.97 0L.07 107.57v2.83L111.27-.8h-2.83zm50.91 0L.07 158.48v2.83L162.18-.8h-2.83zm16.97 0L.07 175.45v2.83L179.15-.8h-2.83zm16.97 0L.07 192.42v2.83L196.12-.8h-2.83zm44.21 6.7L5.9 237.5h2.83L237.5 8.73V5.9zm0 16.97L22.87 237.5h2.83L237.5 25.7v-2.83zm0 50.92L73.79 237.5h2.82L237.5 76.61V73.8zm0 16.96L90.76 237.5h2.82L237.5 93.58v-2.83zm0 16.98L107.72 237.5h2.83L237.5 110.55v-2.82zm0 50.9-78.86 78.87h2.82l76.04-76.04v-2.82zm0 16.98-61.9 61.89h2.84l59.06-59.06v-2.83zm0 16.97-44.92 44.92h2.83l42.09-42.1v-2.82z' fill='%23000000' opacity='0.1' /%3E%3C/svg%3E");
  box-shadow: 0 0 2rem black(0.33);

  .image-container image {
    filter: url(#darken);
  }
}

#theme-toggle label {
  background: #111;
  box-shadow: 0.25rem 0.25rem 0.75rem black(0.25);
}

#links {
  a {
    border-color: skyblue;
    background: #111;
    box-shadow: 0 0 0.5rem cyan(0.5), 0 0 1.5rem white(0.15);

    @mixin apply-focus-hover {
      background: #163c3c;
      box-shadow: 0 0 0.5rem cyan(0.5), 0 0 2rem cyan(0.2);
    }

    @mixin revert-focus-hover {
      border-color: skyblue;
      background: #111;
      box-shadow: 0 0 0.5rem cyan(0.5), 0 0 1.5rem white(0.25);
    }

    @include focus-hover-states(
      meta.get-mixin("apply-focus-hover"),
      meta.get-mixin("revert-focus-hover")
    );
  }

  svg {
    fill: white;
  }

  span {
    color: white;
  }
}

header {
  $grey-0: rgba(100, 100, 100, 0);
  $grey-1: rgba(50, 125, 125, 0.075);

  &::before {
    background: linear-gradient(to right, $grey-1 50%, $grey-0 51%) 0 0/4em 100% repeat-x,
      linear-gradient(to bottom, $grey-1 50%, $grey-0 51%) 0 0/100% 4.5em repeat-y,
      linear-gradient(to bottom right, #182428, #182828, #243c33);
    box-shadow: -0.5em -0.5em 1em 0 black(0.125) inset, 0.5em 0.5em 1em 0 black(0.25) inset;
  }

  h1 .shadow {
    text-shadow: 0 0 0.25em #0ff, 0 0 0.5em #0ff, 0 0 1em #0ff, 0 0 1.5em #0ff;

    filter: url(#blur);
  }

  h2 .shadow {
    text-shadow: 0 0 0.25em #0fa, 0 0 0.5em #0fa, 0 0 1em #0fa, 0 0 1.5em #0fa;

    filter: url(#blur);
  }
}

.paper-left-edge,
.paper-right-edge {
  display: none;
}

.paper {
  box-shadow: none;

  &::before {
    transform: skewY(-3deg) translateZ(0);
    border: 4px double #ffde69;
    border-top-width: 3px;
    border-top-style: solid;
    border-right-width: 8px;
    border-bottom-width: 8px;
    background: #111;
    box-shadow: 0.5rem 0.5rem 1rem 0 yellow(0.1), 0 0 1rem 0 yellow(0.33) inset;
  }
}

section h2 {
  color: white;
}

#usp {
  h2 {
    color: white;
  }

  .paper {
    transform: none;

    &::before {
      background: black(0.45);
    }
  }
}
