@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("data:font/woff2;base64,<--noto-sans-jp-critical-regular.woff2-->") format("woff2");
  font-family: "Noto Sans JP Critical";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("data:font/woff2;base64,<--noto-sans-jp-critical-bold.woff2-->") format("woff2");
  font-family: "Noto Sans JP Critical";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/noto-sans-jp-regular.woff2") format("woff2"),
    url("./fonts/noto-sans-jp-regular.woff") format("woff");
  font-family: "Noto Sans JP";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src:
    url("./fonts/noto-sans-jp-medium.woff2") format("woff2"),
    url("./fonts/noto-sans-jp-medium.woff") format("woff");
  font-family: "Noto Sans JP";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("./fonts/noto-sans-jp-bold.woff2") format("woff2"),
    url("./fonts/noto-sans-jp-bold.woff") format("woff");
  font-family: "Noto Sans JP";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/chihaya-jun-regular.woff2") format("woff2"),
    url("./fonts/chihaya-jun-regular.woff") format("woff");
  font-family: "Chihaya Jun";
  font-display: block;
}
