@use "./util.scss" as *;

header {
  position: relative;
  transform: rotate(-3deg);
  margin: 1rem auto 10rem;
  box-shadow: 0.5em 0.5em 1em 0 black(0.125);
  border-radius: 5em;
  padding: 2em 2em 3em 1.5em;
  width: 25.75rem;
  color: white;
  text-align: left;

  @include noto-sans-jp-critical-font;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow:
      -0.5em -0.5em 1em 0 black(0.125) inset,
      0.5em 0.5em 1em 0 white(0.25) inset;
    border-radius: 5em;
    background: #009dd1;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='100'%3E%3Cdefs%3E%3ClinearGradient id='c' x1='0' x2='100%25' y1='0' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%2300bfff'/%3E%3Cstop offset='50%25' stop-color='%230ff'/%3E%3Cstop offset='100%25' stop-color='%237fffd4'/%3E%3C/linearGradient%3E%3ClinearGradient id='a' x1='0' x2='15%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='rgba(255,255,255,0.5)'/%3E%3Cstop offset='50%25' stop-color='rgba(255,255,255,0.5)'/%3E%3Cstop offset='50%25' stop-color='rgba(255,255,255,0)'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='50%25' x2='50%25' y1='0' y2='34%25'%3E%3Cstop offset='0%25' stop-color='rgba(255,255,255,0.33)'/%3E%3Cstop offset='50%25' stop-color='rgba(255,255,255,0.33)'/%3E%3Cstop offset='50%25' stop-color='rgba(255,255,255,0)'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' href='%23a' spreadMethod='repeat'/%3E%3ClinearGradient id='e' href='%23b' spreadMethod='repeat'/%3E%3C/defs%3E%3Cpath fill='url(%23c)' d='M0 0h200v100H0z'/%3E%3Cpath fill='url(%23d)' d='M0 0h200v100H0z'/%3E%3Cpath fill='url(%23e)' d='M0 0h200v100H0z'/%3E%3C/svg%3E")
      0 0/100% 100% repeat;
    background:
      linear-gradient(to right, white(0.5) 50%, white(0) 51%) 0 0 / 4em 100% repeat-x,
      linear-gradient(to bottom, white(0.33) 50%, white(0) 51%) 0 0 / 100% 4.5em repeat-y,
      linear-gradient(to bottom right, deepskyblue, cyan, aquamarine);
    width: 100%;
    height: 100%;
    content: "";
  }

  h1,
  h2 {
    position: relative;
  }

  h1 {
    margin: 0 0 0.1em;
    font-weight: 700;
    font-size: 5.15em;
    text-shadow:
      2px 2px 2px #7e602f,
      0 0 2px #7e602f,
      0 0 2px #7e602f,
      0.4rem 0.4rem 0 #ff5542;
    white-space: nowrap;
  }

  h2 {
    margin: 0;
    font-weight: 400;
    font-size: 3em;
    text-shadow:
      2px 2px 2px #7e602f,
      0 0 2px #7e602f,
      0 0 2px #7e602f,
      0.3rem 0.3rem 0 #ff5542;
  }

  @media (max-width: 36.5rem) {
    width: 18.3rem;

    h1 {
      font-size: 4.15em;
    }
  }

  @media (max-width: 25rem) {
    padding: 8vw 8vw 12vw 6vw;
    width: 73.2vw;
    font-size: 4vw;
  }
}
