@use "sass:meta";

#me {
  .paper {
    width: 36rem;
    padding: 5rem 2rem 4rem 2rem;
  }

  .header {
    max-width: 100%;
    margin: -11rem auto 0 auto;
    text-align: center;
  }

  .flower-1 {
    width: 12.5rem;
    height: 12.334rem;
    margin: 0 -2.5rem 0 -1rem;
    cursor: pointer;
    transition: 0.5s transform;
    vertical-align: middle;

    -webkit-tap-highlight-color: black(0);

    @media (prefers-reduced-motion) {
      cursor: initial !important;
      transition: none !important;
    }
  }

  h2 {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 15rem;
    max-width: 100%;
    margin: 0;
    padding: 1rem;
    transform: rotateZ(-2.5deg);
    vertical-align: middle;
    border: 6px double #00ffa9;
    border-radius: 2rem;
    background: gold(0.25);
    background: linear-gradient(gold(0.25), gold(0)) 0 0 / 100% 2px;
    box-shadow: 0.5rem 0.5rem 1rem 0 black(0.1);

    abbr {
      text-decoration-thickness: 2px;
    }
  }

  .controls {
    margin: 1.5rem 0 -1.5rem 0;
    text-align: right;

    button {
      font-family: "Noto Sans JP", sans-serif;
      font-size: 0.875rem;
      line-height: 1;
      margin: 0 0 0 0.5rem;
      padding: 0.5rem 0.75rem;
      letter-spacing: 0;
      color: inherit;
      border: 2px solid #ffe6b7;
      border-bottom-width: 3px;
      border-radius: 1rem;
      background: #fff5e2;
      box-shadow: 0.25rem 0.25rem 0.5rem black(0.1);

      &::after {
        border-radius: 1.5rem;
      }

      &:active {
        top: 3px;
      }

      @mixin apply-focus-hover {
        border-color: #cdbca5;
        background: #ffe6b7;
      }

      @mixin revert-focus-hover {
        border-color: #ffe6b7;
        background: #fff5e2;
      }

      @include focus-hover-states(
        meta.get-mixin("apply-focus-hover"),
        meta.get-mixin("revert-focus-hover")
      );
    }
  }

  h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.875rem;
    line-height: 1;
    margin: 3rem 0 1.5rem 0;
    letter-spacing: 0;
    color: #555;
  }

  @media (max-width: 34rem) {
    .header {
      width: 18rem;
    }

    .flower-1 {
      margin: 0 0 -2.5rem 0;
    }

    .controls {
      margin: 3rem 0 -1.5rem 0;
    }
  }
}
