@use "sass:meta";

@use "./util.scss" as *;

#me {
  .paper {
    padding: 5rem 2rem 4rem;
    width: 36rem;
  }

  .header {
    margin: -11rem auto 0;
    max-width: 100%;
    text-align: center;
  }

  .flower-1 {
    vertical-align: middle;
    transform: rotateZ(1deg);
    cursor: pointer;
    margin: 0 -2.5rem 0 -1rem;
    width: 12.5rem;
    height: 12.334rem;
    -webkit-tap-highlight-color: black(0);

    &.spin-1 {
      animation: 5s spin-1;
    }

    &.spin-2 {
      animation: 5s spin-2;
    }

    @keyframes spin-1 {
      100% {
        transform: rotateZ(3600deg);
      }
    }

    @keyframes spin-2 {
      100% {
        transform: rotateZ(3600deg);
      }
    }

    @media (prefers-reduced-motion) {
      transition: none !important;
      cursor: initial !important;
    }
  }

  h2 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transform: rotateZ(-2.5deg);
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0.5rem 0.5rem 1rem 0 black(0.1);
    border: 6px double #00ffa9;
    border-radius: 2rem;
    background: gold(0.25);
    background: linear-gradient(gold(0.25), gold(0)) 0 0 / 100% 2px;
    padding: 1rem;
    width: 15rem;
    max-width: 100%;

    abbr {
      display: block;
      text-decoration-thickness: 2px;
    }
  }

  .controls {
    margin: 1.5rem 0 -1.5rem;
    text-align: right;

    button {
      margin: 0 0 0 0.5rem;
      box-shadow: 0.25rem 0.25rem 0.5rem black(0.1);
      border: 2px solid #ffe6b7;
      border-bottom-width: 3px;
      border-radius: 1rem;
      background: #fff5e2;
      padding: 0.5rem 0.75rem;
      color: inherit;
      font-weight: 500;
      font-size: 0.875rem;
      letter-spacing: 0;

      &::after {
        border-radius: 1.5rem;
      }

      &:active {
        top: 3px;
      }

      @mixin apply-focus-hover {
        border-color: #cdbca5;
        background: #ffe6b7;
      }

      @mixin revert-focus-hover {
        border-color: #ffe6b7;
        background: #fff5e2;
      }

      @include focus-hover-states(
        meta.get-mixin("apply-focus-hover"),
        meta.get-mixin("revert-focus-hover")
      );
    }
  }

  h3 {
    margin: 3rem 0 2rem;
    color: #555;
    font-size: 0.875rem;
    letter-spacing: 0;
  }

  @media (max-width: 34rem) {
    .header {
      width: 18rem;
    }

    .flower-1 {
      margin: 0 0 -2.5rem;
    }

    .controls {
      margin: 3rem 0 -1.5rem;
    }
  }
}
