@use "./util.scss" as *;

.picoletta {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0 0 0 -1rem;
  width: 21rem;
  color: white;
  font-size: 0;

  @media (max-width: 39rem) {
    display: block;
    right: -2.5rem;
    margin: -6.5rem auto 0;
  }

  .top-arch,
  .bottom-arch {
    margin: 0 -0.1rem;
    width: 15rem;
    height: 6rem;
  }

  .top-left-corner {
    width: 3rem;
    height: 6rem;
  }

  .top-right-corner {
    transform: scaleX(-1);
    width: 3rem;
    height: 6rem;
  }

  .bottom-left-corner {
    transform: scaleY(-1);
    width: 3rem;
    height: 6rem;
  }

  .bottom-right-corner {
    transform: scaleX(-1) scaleY(-1);
    width: 3rem;
    height: 6rem;
  }

  .border-left {
    position: absolute;
    top: 0;
    left: -2.9rem;
    width: 3rem;
    height: 100%;
  }

  .border-right {
    position: absolute;
    top: 0;
    right: -2.9rem;
    transform: scaleX(-1);
    width: 3rem;
    height: 100%;
  }

  .text-container {
    position: relative;
    margin: -0.1rem auto;
    width: 15rem;
    text-align: center;
  }

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
  }

  p {
    margin: 0;
    padding: 1rem 0.25em 1.5rem 0.25rem;
    color: #eee;
    font-size: 1.1rem;
    line-height: 1.33;
    letter-spacing: 0;
    text-align: left;

    @include noto-sans-jp-font;
  }

  a {
    margin: 0 0 0.1em;
    color: deepskyblue;
  }
}

.p-fill-bg {
  background: #353841;
  fill: #353841;
}

.p-fill-fg {
  fill: #f3d67d;
}

.p-stroke-fg {
  stroke: gold;
}
