#projects ul {
  margin: 0;
  padding: 1rem 0;
  list-style: none;

  &:focus {
    outline: 0.125rem solid orangered;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  li {
    display: inline-block;
    vertical-align: middle;
  }

  @media (max-width: 61rem) {
    overflow: auto;
    white-space: nowrap;

    -ms-scrollbar-arrow-color: #fd87b5;
    scrollbar-arrow-color: #fd87b5;
    -ms-scrollbar-base-color: white;
    scrollbar-base-color: white;
    scrollbar-color: #fd87b5 rgba(0, 0, 0, 0);
    -ms-scrollbar-face-color: #fd87b5;
    scrollbar-face-color: #fd87b5;
    -ms-scrollbar-shadow-color: #fd87b5;
    scrollbar-shadow-color: #fd87b5;

    &::-webkit-scrollbar {
      width: inherit;
      height: inherit;
    }

    &::-webkit-scrollbar-thumb {
      background: #fd87b5;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0);
    }
  }
}
