@use "sass:meta";

.card {
  display: block;
  box-sizing: border-box;
  width: 16rem;
  min-height: 19rem;
  padding: 0.5rem;
  transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);
  transform: scale3d(1, 1, 1);
  white-space: normal;
  color: inherit;
  border: 2px solid black(0);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0 black(0.1), -0.125rem -0.125rem 0.125rem black(0.1) inset;

  &::after {
    border-radius: 0.75rem;
  }

  figure {
    margin: 0;
  }

  img {
    display: block;
    width: calc(15rem - 4px);
    height: calc(15rem - 4px);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem black(0.1);
  }

  figcaption {
    font-size: 1.75rem;
    display: table;
    box-sizing: border-box;
    width: 100%;
    height: 7.5rem;
    margin: 0.75rem 0 0 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background: white(0.5);
    box-shadow: 0 0 0.25rem black(0.1);

    div {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
    }
  }

  &:active {
    top: 3px;
  }

  @mixin apply-focus-hover {
    transform: scale3d(1.02, 1.02, 1.02);
    border-color: cyan;
    box-shadow: 0.25rem 0.25rem 0.5rem cyan(0.2), -0.125rem -0.125rem 0.25rem darkcyan(0.15) inset;

    img {
      box-shadow: 0 0 0.25rem cyan(0.2);
    }

    figcaption {
      box-shadow: 0 0 0.25rem cyan(0.75);
    }
  }

  @mixin revert-focus-hover {
    transform: scale3d(1, 1, 1);
    border-color: black(0);
    box-shadow: 0.5rem 0.5rem 1rem 0 black(0.1), -0.125rem -0.125rem 0.125rem black(0.1) inset;

    img {
      box-shadow: 0 0 0.25rem black(0.1);
    }

    figcaption {
      border-color: black(0);
      box-shadow: 0 0 0.25rem black(0.1);
    }
  }

  @include focus-hover-states(
    meta.get-mixin("apply-focus-hover"),
    meta.get-mixin("revert-focus-hover")
  );
}

.carousel .card {
  margin: 2rem;
  background: #f4f4f8;

  @mixin apply-focus-hover {
    background: lightcyan;
  }

  @mixin revert-focus-hover {
    background: #f4f4f8;
  }

  @include focus-hover-states(
    meta.get-mixin("apply-focus-hover"),
    meta.get-mixin("revert-focus-hover")
  );

  @media (max-width: 61rem) {
    transform: perspective(1000px) rotateY(12.5deg);
  }
}

.featured-container .card {
  background: #f4f4f8;

  @mixin apply-focus-hover {
    background: #bff;
  }

  @mixin revert-focus-hover {
    background: #f4f4f8;
  }

  @include focus-hover-states(
    meta.get-mixin("apply-focus-hover"),
    meta.get-mixin("revert-focus-hover")
  );
}
