@use "sass:meta";

@use "./util.scss" as *;

.card {
  display: block;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);
  box-sizing: border-box;
  box-shadow:
    -0.5rem 0.5rem 1rem 0 black(0.1),
    -0.125rem -0.125rem 0.125rem black(0.1) inset;
  border: 2px solid black(0);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 16rem;
  min-height: 19rem;
  color: inherit;
  white-space: normal;

  &::after {
    border-radius: 1.5rem;
  }

  figure {
    margin: 0;
  }

  img {
    display: block;
    box-shadow: 0 0 0.25rem black(0.1);
    border: none;
    border-radius: 0.5rem;
    background: #fdfdfd;
    width: calc(15rem - 4px);
    height: calc(15rem - 4px);
    color: #555;
    font-size: 1.25rem;
    font-family: sans-serif;
  }

  figcaption {
    display: table;
    box-sizing: border-box;
    width: 100%;
    height: 7.5rem;
    font-size: 1.5rem;

    div {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
  }

  &:active {
    top: 3px;
  }

  @mixin apply-focus-hover {
    transform: scale3d(1.02, 1.02, 1.02);
    box-shadow:
      0 0 0.5rem cyan(0.5),
      -0.125rem -0.125rem 0.25rem darkcyan(0.2) inset;
    border-color: cyan;

    img {
      box-shadow: 0 0 0.25rem cyan(0.75);
    }
  }

  @mixin revert-focus-hover {
    transform: scale3d(1, 1, 1);
    box-shadow:
      -0.5rem 0.5rem 1rem 0 black(0.1),
      -0.125rem -0.125rem 0.125rem black(0.1) inset;
    border-color: black(0);

    img {
      box-shadow: 0 0 0.25rem black(0.1);
    }
  }

  @include focus-hover-states(
    meta.get-mixin("apply-focus-hover"),
    meta.get-mixin("revert-focus-hover")
  );
}

.carousel .card {
  margin: 2rem;
  background: #f4f4f8;

  @mixin apply-focus-hover {
    background: lightcyan;
  }

  @mixin revert-focus-hover {
    background: #f4f4f8;
  }

  @include focus-hover-states(
    meta.get-mixin("apply-focus-hover"),
    meta.get-mixin("revert-focus-hover")
  );

  @media (max-width: 61rem) {
    transform: perspective(1000px) rotateY(12.5deg);
  }
}

.featured-container .card {
  background: #f4f4f8;

  @mixin apply-focus-hover {
    background: #bff;
  }

  @mixin revert-focus-hover {
    background: #f4f4f8;
  }

  @include focus-hover-states(
    meta.get-mixin("apply-focus-hover"),
    meta.get-mixin("revert-focus-hover")
  );
}
