#usp {
  line-height: 2rem;
  display: block;
  overflow: hidden;

  @include chihaya-jun-font;

  h2 {
    line-height: 1.75rem;
    color: #2f467e;
  }

  .paper {
    padding: 4rem 2rem 5.5rem 2rem;

    &::before {
      background: linear-gradient(to bottom, cyan(0.67) 1px, cyan(0) 0) 50% -1px / 90% 2rem repeat-y,
        url("./images/paper.svg"), white;
    }

    @media (max-width: 20.625rem) {
      padding-left: 0.75rem;
    }
  }

  ul {
    font-size: 1.875rem;
    margin: 4rem 0 2rem 0;
    padding: 0 0 0 2.5rem;
  }

  li::marker {
    font-family: inherit;
    font-size-adjust: inherit;
  }

  li span {
    display: inline-block;
    margin: 0 0 2rem 0;
    vertical-align: top;
  }
  .orange-patch-container {
    position: relative;
    z-index: 2;
    text-align: left;
  }

  .orange-patch {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 0 -6.25rem -5rem;
  }

  .star-badge-container {
    position: relative;
    z-index: 2;
    text-align: right;
  }

  .star-badge {
    width: 12.5rem;
    height: 12.5rem;
    margin: -6.25rem -3.5rem 0 0;

    @media (max-width: 27.5rem) {
      margin-top: -4rem;
    }
  }
}
